doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title My parallax
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/all.css")

	body

		header.bird-box
			//- .back-heart
			.logo
			.fore-bird 


		section.content
			article
				h1 Love Story
				hr
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate alias, sint, fugiat sequi labore nostrum dignissimos voluptate dolor itaque consectetur aut similique voluptas, distinctio aliquam eum nihil a atque molestiae.

				hr
				
				
				.photos
					.row.img-row
						
						figure.columns.four
							img(src="img/1foto2.jpg")
							figcaption Pretty Cool, HA ONE! - <strong>:)</strong>
							
						figure.columns.four		
							img(src="img/foto5.jpg")
							figcaption Pretty Cool, HA TWO! - <strong>:)</strong>
							
						figure.columns.four		
							img(src="img/1foto14.jpg")
							figcaption Pretty Cool, HA THREE! - <strong>:)</strong>
					//- .row.img-row
					//- 	figure.columns.four
					//- 		img(src="img/food.jpg")
					//- 		img(src="img/foto4.jpg")
					//- 		img(src="img/foto2.jpg")
					//- .row.img-row
					//- 	figure.columns.four
					//- 		img(src="img/foto6.jpg")
					//- 		img(src="img/foto8.jpg")
					//- 		img(src="img/foto9.jpg")
								
				h1 Loremik ipsumic

				hr 

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatem reprehenderit reiciendis quod harum doloremque aspernatur culpa asperiores. Perspiciatis at laudantium repudiandae sapiente quaerat, consectetur odit vitae? Ipsa, sit, 
				p  Dolor sit amet, consectetur adipisicing elit. In voluptatem reprehenderit reiciendis quod harum doloremque aspernatur culpa asperiores. 

				hr
				
				.large-window
					.window-tint
						.promo-text Bonjour!
							strong <span>from</span> Odessa
							a(href="").window-cta One Year Album
	
				


			div(style="height: 2000px")

		script(src="http://code.jquery.com/jquery-1.11.1.min.js")
		script(src="js/func.js")
			

